.class{
    background-color: rgb(231, 41, 104);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.big{
    font-size:24px;
}

#id1{
    color:rgb(16, 151, 168);
    font-size:36px;
}

#id2{
    background-color:greenyellow;
    color: black;
    font-size:24px;
    font-weight: bold;
}