div{
    text-align: center;
    color:white;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
}

p{
    color:white;
    background-color: green;
    font-size: 20px;
}

button{
    background-color: orange;

}